
<!-- <div>Async={{jsonData | async|json}}</div>
<div appCustomDirective>Date:{{date$ | async }}</div> -->
<h1>Configuring Routing Example</h1>
<ul><li><a href="/one">Routing One</a></li></ul>
<ul><li><a href="/two">Routing Two</a></li></ul>
<ul><li><a href="/input">Routing Input Component</a></li></ul>
<ul><li><a href="/employee">Routing Employee Component</a></li></ul>
<ul><li><a href="/param/:id/:id2">Routing Param Component</a></li></ul>
<ul><li><a href="/search">Routing Search Component</a></li></ul>
<ul><li><a href="/forms">Reactive Forms Component</a></li></ul>

<app-template-driven-forms></app-template-driven-forms>




<router-outlet></router-outlet>